:root {
  --shadow-color: white;
}

body {
  background: url('./timezonemap.png') 0 0 / 100% repeat;
  text-shadow: -1px 0 0 var(--shadow-color), 1px 0 0 var(--shadow-color),
    0 0.5px 0 var(--shadow-color), 0 -1px 0 var(--shadow-color);
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-family: Impact, sans-serif;
  border-bottom: 1px solid black;
  box-shadow: var(--shadow-color) 1px 1px 1px;
}

ul {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 0.5em 0.5em 0.5em 2em;
  list-style: none;
  text-indent: -1.5em;
}

h1,
p,
ul,
ol {
  margin-top: 0;
}

a {
  color: #173891;
}
